# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Display Rotater/[Dd]ebug/
Display Rotater/[Dd]ebugPublic/
Display Rotater/[Rr]elease/
Display Rotater/[Rr]eleases/
Display Rotater/x64/
Display Rotater/x86/
Display Rotater/build/
Display Rotater/bld/
Display Rotater/[Bb]in/
Display Rotater/[Oo]bj/
Display Rotater/msbuild.log
Display Rotater/msbuild.err
Display Rotater/msbuild.wrn

# Visual Studio 2015
.vs/